# raid logs / attack logs
r[0-9][0-9][0-9][0-9][0-9][0-9][0-9]
r[0-9][0-9][0-9][0-9][0-9][0-9][0-9]logs

# archives
*.7z
*.zip

# legacy file/folders
mishap
legacy

# error logs
error_log

# user credentials/config
config.json

# vscode
.vscode
*.code-workspace